Package: com.artikus.preferenceloader
Name: PreferenceLoader
Depends: mobilesubstrate
Version: 1.0.5
Architecture: iphoneos-arm
Description: A lightweight and modern alternative to Dustin Howett's PreferenceLoader.
Maintainer: ArtikusHG
Author: ArtikusHG
Section: Tweaks
Replaces: preferenceloader
Provides: preferenceloader (= 2.2.4)
Conflicts: preferenceloader
